body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    display: none;
}

.carousel-image.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.fa-house {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 30px;
}